.app__header {
    display: flex;
    position: fixed;
    top: 0;
    height: 8vh;
    box-shadow: 0 0 5px #000;
    right: 0;
    left: 0;
    align-items: center;
    padding-inline: 10px;
    background-color: rgba(0, 0, 0, 0.5);

    & a:first-of-type {
        display: flex;
        align-items: center;
        figure {
            margin-right: 10px;
        }

        span {
            font-family: "Parisienne", cursive;
            font-size: 30px;
        }
    }

    figure {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
    }
}